html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    font-family: Consolas;
    color: white;
}

body nav {
    position: sticky;
    top: 0;
    border-color: white;
    border-width: 0px;
    border-bottom: 2px;
    border-style: solid;
    background-color: black;
    place-items: center;
}

ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
}

li {
    list-style: none;
    margin-right: 20px;
    font-size: 1rem;
    font-weight: bold;
}

a {
    color: lime;
}

.parent {
    padding: 1rem;
}

.flex-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-child {
    flex: 1;
    align-items: center;
    justify-content: center;
}

#bio {
    max-width:600px;
    margin: 0px;
    float: left;
    padding:20px;
    line-height: 150%;
}

.project-summary {
    border-color: white;
    border-width: 0px;
    border-width: 2px;
    border-style: solid;
    width: 400px;
    height: 300px;
    padding: 20px;
    margin: 20px;
    line-height: 150%;
    float: left;
}

div img {
    height: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}